/* Center the form on the page */
.auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Styles for the login form */
form {
  background-color: #474947;
  border-radius: 8px;
  width: 400px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #ffffff;
}

/* Title for the form */
form h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Labels */
.form_control label {
  display: block;
  font-size: 0.875em;
  padding: 0.25em;
  text-align: left;
  color: #c4cac8;
}

/* Input fields */
.form_control input,
.form_control textarea {
  width: 100%;
  padding: 10px;
  border-radius: 0.5em;
  border: none;
  background-color: #c4cac8;
  color: black;
  font-size: 1em;
  box-sizing: border-box;
}

/* Space between form controls */
.form_control {
  margin-bottom: 20px;
}

/* Sign-up button */
.auth-nav-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #789f90;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: bold;
}

.auth-nav-btn:hover {
  background: none;
  text-decoration: underline;
}

/* Hidden text for accessibility */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
