/* Chat window styling */
.channel {
  flex: 1;
  overflow-y: auto;
}

.channel-contents {
  flex: 1;
  width: 85%;
  margin: 0 auto;
  padding: 1.5em;
  overflow-y: auto;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-name{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic-medium {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  object-fit: cover;
  margin: 0.5em;
}

/* 
make this a secondary button type later 
green button = main style, gray button = secondary style
*/

.view-profile-btn {
  border-radius: 0.5em;
  border: none;
  padding: 0.25em 0.75em;
  margin: 0.5em;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: inherit;
  background-color: #474947;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 0.125em;
  overflow-y: auto;
}

.message {
  display: flex;
  max-width: min(80%, 500px);
}

.message p {
  padding: 0.5em 1em;
  border-radius: 1.25em;
}

.message.sent {
  flex-direction: row-reverse;
}

.message.sent-editing {
  flex-direction: row-reverse;
}

.message.received {
  flex-direction: row;
}

/* Adds extra spacing between messages from different users */
.sent + .received,
.received + .sent,
.sent-editing + .received,
.received + .sent-editing {
  margin-top: 0.5em;
}

.sent {
  align-self: flex-end;
}

.sent p {
  background: #789f90;
  color: #282828;
}

.sent-editing {
  align-self: flex-end;
}

.sent-editing p {
  background: #bbc3bf;
  color: #282828;
}

.received {
  align-self: flex-start;
}

.received p {
  background: #474947;
  color: #fff;
}

.message-actions {
  display: flex;
  flex-direction: row;
}

.message-actions {
  visibility: hidden;
  opacity: 0;
}

.message:hover .message-actions {
  visibility: visible;
  opacity: 1;
}

.edit-btn,
.delete-btn {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.125rem;
}

.received .fa-solid {
  margin-left: 0.5em;
  margin-right: 0;
}

.message-input {
  position: relative;
  bottom: 0;
  width: 100%;
}

.message-input-container {
  width: 85%;
  margin: auto;
  padding: 0.75em 1.5em;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-input-container input {
  flex: 1;
  border: none;
  border-radius: 1.5em;
  background: #474947;
  padding: 0.75em 1.5em;
  font-size: 0.875rem;
}

.message-input button {
  border-radius: 2em;
  font-size: 1rem;
}

.message-input .fa-solid {
  margin-right: 0;
}
