.search-bar {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 0.75em 1.5em;
}

.search-input {
  width: 100%;
  border: none;
  background: none;
  font-size: 1.125rem;
  font-family: "Source Sans 3"; /* move this input style to index.css later as a general input style */
}



.search-results {
  flex-grow: 1; /* Allow results to stretch if space is available */
  min-height: 100px; /* Minimum height for the results container */
  max-height: calc(100vh - 150px); /* Prevent results from exceeding the viewport height minus the header and padding */
  overflow-y: auto; /* Enable vertical scrolling */
}

.contact-item.selected {
  background-color: #789f90; /* Light green background for selected users */
  border-color: #a0e6a0; /* Optional: Change border color for selected users */
}

/* Popup Styles */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it appears above other elements */
}

.popup-box {
  background-color: #474947;
  padding: 1.5em;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%; /* Responsive width */
  max-width: 500px; /* Maximum width for the popup */
}

.popup-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1em;
}

.popup-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.5em;
  font-size: 1rem;
  margin-bottom: 1em;
}

.popup-buttons {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

.popup-button {
  padding: 0.5em 1em;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-button.submit {
  background-color: #789f90; /* Same green as selected contact item */
  color: black;
}

.popup-button.submit:hover {
  background-color: #5b8f7a;
}

.popup-button.close {
  background-color: #ccc;
}

.popup-button.close:hover {
  background-color: #b3b3b3;
}

.create-channel-button {
  /* Add styles here */
  background-color: #789f90;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.create-channel-button:hover {
  background-color: #a7c7ba; /* Optional hover effect */
}

.not-found-message {
  font-size: 1.5rem; /* Adjust the size as needed */
  color: #ffffff; /* Customize the text color */
  text-align: center;
}

.major-info {
  font-size: 0.8rem; /* Adjust size to be smaller */
  color: #789f90; /* Optional: make it lighter */
  margin-left: 1px; /* Optional: add spacing between the name and extra info */
}
